

.text-field {
    -fx-font-size: 14pt;
    -fx-font-family: "impact";
    -fx-font-weight: bold;
    -fx-text-fill: blue;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: white;
    -fx-control-inner-background: black;
    -fx-font-family: "courier";
    -fx-text-fill: yellow;
    -fx-font-size: 14pt;
    -fx-padding: 5 5 5 5;
}
